<template name="start">
	<h1 class="focus-on-load" aria-label="Web Devolepor 2015">{{>titleSVG}}</h1>
	<p class="reveal-box">Do you have what it takes to be a<br> professional web devoleperor? Find out.</p>
	<p class="reveal-box"><button type="button">You Play!</button></p>
</template>

<template name="loading">
	<p>Loading&hellip;</p>
</template>

<template name="skills">
	{{>ratio}}
	<div class="skills-box">
		{{>devoleporSVG}}
		<div class="skills-inputs reveal-box">
			<h1 class="focus-on-load"><span>You are a new devolepor.</span> What Skills You Lern?</h1>
			<fieldset>
				<legend class="vh">choose your skills</legend>
			{{#each skills}}
				<label for="{{this}}"><input type="checkbox" value="{{this}}" id="{{this}}"><span>{{this}}<span aria-hidden>&lt;</span></span></label>
			{{/each}}
			</fieldset>
			<div class="center"><button class="continue" type="button">Cuntinue <span aria-hidden="true">&gt;</span></button></div>
		</div>
	</div>
</template>

<template name="ratio">
	<div class="ratio reveal-box">
		<div class="sleepin">
			<span aria-hidden="true">Sleepin'</span>
		</div>
		<div class="devolepin" style="right:{{percent.position}}">
			<span aria-hidden="true">Devolepin'</span> 
			<span class="vh" role="alert" aria-live="status">Time spent devoleping at {{percent.value}}</span>
		</div>
	</div>
</template>

<template name="ded">
	<h1 aria-labelledby="you-are-dead" aria-describedby="coronersReport">
		{{>dedSVG}}
	</h1>
	<div class="reveal-box">
		<p id="coronersReport">{{{report}}}</p>
		{{>playAgain}}
	</div>
</template>

<template name="noskills">
	<h1 aria-labelledby="no-skills" aria-describedby="newCareer">
		{{>devilSVG}}
	</h1>
	<div class="reveal-box">
		<p id="newCareer">Congratulations. Your new career is&hellip; {{otherRole}}.</p>
		{{>playAgain}}
	</div>
</template>

<template name="playAgain">
	<p><button>Play Again!</button></p>
</template>

<template name="sounds">
	<p><a href="http://www.nvaccess.org/download/">Try it with NVDA</a></p> 
	<button aria-pressed="true">Sounds <span aria-hidden="true"></span></button>
</template>