<template name="start">
	<h1 class="announce">{{>titleSVG}}</h1>
	<p class="reveal-box"><button type="button" class="focus-on-load">You Play!</button></p>
</template>

<template name="loading">
	<p>Loading&hellip;</p>
</template>

<template name="skills">
	{{>ratio}}
	<div class="skills-box">
		{{>devoleporSVG}}
		<div class="skills-inputs reveal-box">
			<h1 class="focus-on-load">What Skills You Lern? <span class="vh">Please choose</span></h1>
			<fieldset>
				<legend class="vh">skill</legend>
			{{#each skills}}
				<label for="{{this}}"><input type="checkbox" value="{{this}}" id="{{this}}"><span>{{this}}<span aria-hidden>&lt;</span></span></label>
			{{/each}}
			</fieldset>
			<div class="center"><button class="continue" type="button">Cuntinue <span aria-hidden="true">&gt;</span></button></div>
		</div>
	</div>
</template>

<template name="ratio">
	<div class="ratio reveal-box">
		<div class="sleepin">
			<span aria-hidden="true">Sleepin'</span>
		</div>
		<div class="devolepin" style="right:{{percent.position}}">
			<span aria-hidden="true">Devolepin'</span> 
			<span class="vh" role="alert" aria-live="status">Time spent devoleping at {{percent.value}}</span>
		</div>
	</div>
</template>

<template name="ded">
	<h1 aria-labelledby="you-are-dead" aria-describedby="coronersReport">
		{{>dedSVG}}
	</h1>
	<div class="reveal-box">
		<p id="coronersReport">{{{report}}}</p>
		<p><button>Play Again!</button></p>
	</div>
</template>